.joystick {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 90%;
  border-radius: 100%;
  background-color: black;
  background: url(joystick-bg.png) no-repeat center center;
  background-size: contain;
}

.joystick-relative {
  background: url(joystick-stick.png) no-repeat center center;
  background-size: contain;
}
